<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://github.com/labike" class="link" target="_blank">Github</a> |
            <a href="https://www.os4team.cn" class="link" target="_blank">labike's blog</a> |
            <a href="https://www.twitter.com" class="link" target="_blank">Twitter</a> |
            <a href="https://www.stackoverflow.com" class="link" target="_blank">Stackoverflow</a>
        </div>
        <p class="copyright">
            Copyright ©labke 2017 - ? Author: labike
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>