.keywords-list{
    float: left;
    width: 240px;
    height: 350px;
    padding: 10px 0;
    margin-right: 10px;
    background: #666;
    color: #fff;
}
.keywords-list .keywords-item{
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.keywords-list .keywords-item .link{
    color: #fff;
    margin-right: 5px;
}
.keywords-list .keywords-item:hover{
    background: #999;
}
.keywords-list .keywords-item .link:hover{
    color: #f10215;
}

.banner-content{
    width: 830px;
    height: 370px;
    float: left;
    background: #eee;
}
.banner-content .loading{
    margin-top: 150px;
}
.banner-content .banner-img{
    width: 100%;
    height: 370px;
}
.banner-content .banner-arrow{
    position: absolute;
    top: 160px;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #ccc;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}
.banner-content .banner-arrow.prev{
    left: 0;
}
.banner-content .banner-arrow.next{
    right: 0;
}
.banner-content .banner-arrow:hover{
    color: #aaa;
    background: rgba(0, 0, 0, .5)
}

.floor-wrap .floor-title{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    color: #d58717;
    font-weight: normal;
    border-bottom: 1px solid #d58717;
}
.floor-wrap:nth-child(2) .floor-title{
    color: #3b838c;
    border-bottom: 1px solid #3b838c;
}
.floor-wrap:nth-child(3) .floor-title{
    color: #a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color: #282bc9;
    border-bottom: 1px solid #282bc9;
}
.floor-wrap:nth-child(5) .floor-title{
    color: #a427ca;
    border-bottom: 1px solid #a427ca;
}
.floor-wrap .floor-list{
    margin-right: -20px;
    overflow: hidden;
}
.floor-wrap .floor-list .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
    box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #555;
}
.floor-wrap .floor-list .floor-item .floor-img{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}